body{
    margin: 0;
    padding: 0;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;

    
}

.navbar{
    background-color: black;
    display: flex;
    text-align: center;
    padding: 14px 20px;
    margin: 10px;
    text-decoration: none;
    flex-wrap: wrap;

    
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li a {
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links li a:hover {
    color: #F87171;
}
.contact{
    display: flex;
    text-decoration: none; 
    background-color: #F87171;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color o.3s ease;
}
.contact:hover{
    background-color: #ff4c4c;
}